<title>Редактирай</title>
{% extends 'index.html' %}

{% block body %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container" style="margin-bottom: 5%">
                    <div class="card" style="width: 40rem;">
                        <div class="card-body" style="border: 5%">
                            <h5 class="card-title">Здравейте, ние сме Нина и Роси!</h5>
                                <p class="card-text">От 2018г. приехме предизвикателството не само да бъдем учители, а и да се справим с управлението, поддържането и развитието на една мечта започната от любимата ни Илияна Йорданова - " Игралница занималница" . Знаем,че ни очаква  много работа и  не се плашим . Вярваме в децата и техните  мечти и  правим всичко по силите си за да се чувстват подкрепени и окрилени.Насърчаваме четенето и обичаме приключенията.Обичаме интелектуалните игри, провокиращи въображението и мисленето. Държим на точността, справедливостта, доброто възпитание и позитивното общуване. Не забравяме празниците и рождените  дни и обичаме ваканциите. Важно за нас е родителите да ни имат доверие, да се чувстват спокойни, улеснени и сигурни, че детето им ще е щастливо, подготвено и устремено.
                                </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}