<title>Промяна на паролата</title>
{% extends 'index.html' %}

{% block body %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

          <form style="border: 1px solid grey; margin: 10% 0%; padding: 10% 5%" method="post">
              <h2>Промени парола:</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Потвърди</button>
          </form>

    </div>
    <div class="col-lg-3"></div>
    </div>
</div>
{% else %}
{% include 'permission_denied.html' %}
{% endif %}
{% endblock %}