<title>Влез</title>
{% extends 'index.html' %}

{% block body %}
        <div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
                    <form style="border: 1px solid grey; margin: 0% 0%; padding: 10% 5%" method="post">
                                        <h2>Влез в профила си</h2>

                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit">Потвърди</button>
                        <br>
                        <span>Нямаш профил? <a href="{% url 'signup' %}" style="color:orange">Регистрация.</a></span>
                        <br>
                        <span>Забравена парола? <a href="{% url 'password_reset' %}" style="color:orange">Възстановяване на парола.</a></span>
                    </form>
            </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}