<title>Нулиране на паролата изпратено</title>
{% extends 'index.html' %}

{% block body %}
<div id="content" class="colM">

        <h1>Нулиране на паролата изпратено</h1>


<p>Ние ви пратихме мейл с инструкции за настройка на вашата парола, ако съществува профил с имейла, който сте въвели. Вие трябва да ги получат скоро.</p>

<p>Ако не получите имейл, моля подсигурете се, че сте въвели правилно адреса с който сте се регистрирал/a и/или проверете спам папката във вашата поща.</p>



        <br class="clear">
</div>
{% endblock %}