{% extends 'index.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

          <form style="border: 1px solid grey; margin: 10% 0%; padding: 10% 5%" method="post">
              <h2>Регистрация</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Регистрирай ме!</button>
              <br>
             <span>Вече имаш профил? <a href="{% url 'login' %}" style="color:orange">Впиши се от тук.</a></span>

          </form>
    </div>
    <div class="col-lg-3"></div>
        </div>
</div>
{% endblock %}