<title>Моят профил</title>
{% extends 'index.html' %}

{% block body %}
{% if request.user.pk == user.pk %}
    <div class="container marketing">
         <h1><span style="font-size: 2rem">Моят профил</span></h1>

            <div class="col-md-6 col-xs-12">
        <label class="semi-colon bolder">Име:</label>
{{ user.first_name }}           </div>
            <div class="col-md-6 col-xs-12">
                <label class="semi-colon bolder">Фамилия:</label>
{{ user.last_name }}             </div>

            <div class="col-md-6 col-xs-12">
                <label class="semi-colon bolder">Аз съм:</label>
                {{ user.get_kind_display }}
            </div>

            <div class="col-md-6 col-xs-12">
                <label class="semi-colon bolder">Поща:</label>
{{ user.email }}            </div>

            <div class="col-md-6 col-xs-12">
                <label class="semi-colon bolder">Дата на създаване:</label>
                {{ user.date_joined }}
            </div>

            <div class="col-md-6 col-xs-12">
                <label class="semi-colon bolder">Аватар:</label>
                    {% load static %}
          <img class="rounded-circle" src="{% static user.avatar_source %}" alt="Generic placeholder image" width="140" height="140">
            </div>


      <div class="row" style="margin-top:10%">
          <div class="col-lg-4 text-center">
          <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/166/166256.svg" alt="Generic placeholder image" width="140" height="140">
          <h2>Редактирай профил</h2>
          <p><a class="btn btn-secondary" href="{% url 'user-edit' user.id %}?next={{request.path}}" role="button">Редактирай &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
          <img class="rounded-circle" src="https://www.dcu.ie/sites/default/files/iss/images/Icons_V2-01.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Промени парола</h2>
          <p><a class="btn btn-secondary" href="{% url 'password_change' %}" role="button">Промени я &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
          <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnhLedyw4Kh3wkzJD0ytWGHTQF01pqJ0N5l8CO9n4MmZoxF71rmQ" alt="Generic placeholder image" width="140" height="140">
          <h2>Забравена парола</h2>
          <p><a class="btn btn-secondary" href="{% url 'password_reset' %}" role="button">Не си спомням &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
        </div>

{% else %}
{% include 'permission_denied.html' %}
{% endif %}
{% endblock %}
