<title>Добави снимки</title>
{% extends 'index.html' %}

{% block body %}
{% if user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Създай</button>
        </form>
            </div>
        <div class="col-lg-5"></div>
    </div>
</div>
{% else %}
{% include 'permission_denied.html' %}
{% endif %}
{% endblock %}