<title>Галерия</title>
{% extends 'index.html' %}

{% block body %}
{% if album.is_visible or user.is_superuser %}
<div class="container">
        {% if user.is_superuser %}
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Публикувай</button>
            </form>
        </div>
        <div class="col-lg-5"></div>
    </div>
        {% endif %}
</div>
        <div class="container">
            <div class="row">
            {% load static %}
            {% for picture in pictures %}
                <div class="col-lg-4">
                    <div class="container" style="margin-bottom: 5%">
                    <div class="card" style="width: 18rem;">
              <img src="{% static picture.pic_source %}" class="card-img-top" style="height: 18rem;">

                  {% if user.is_superuser %}
                        <div class="card-body" style="border: 5%">
                  <center>
                  <a href="{% url 'delete_picture' picture.pk%}" class="btn btn-danger">Изтрий</a>
                  </center>
                            </div>
                  {% endif %}

              </div>
            </div>
        </div>

        {% endfor %}
    </div>

{% else %}
{% include 'permission_denied.html' %}
{% endif %}
{% endblock %}