<title>Галерия</title>
{% extends 'index.html' %}

{% block body %}
<div class="container" style="margin-bottom: 3%">
    <div class="row">
        {% if user.is_superuser %}
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <a href="{% url 'create_album' %}" class="btn btn-primary">Създай албум</a>
            </div>
            <div class="col-lg-5"></div>
    </div>
        {% endif %}
</div>

<div class="container">
    <div class="row">
        {% load static %}
        {% for album in albums %}
        <div class="col-lg-4">
            <div class="container" style="margin-bottom: 5%">
                <div class="card" style="width: 18rem;">
                     <h5 class="card-title"><center>{{ album.title }}</center></h5>
                    <img src="{% static album.cover %}" class="card-img-top" style="height: 18rem;">


                        <div class="card-body" style="border: 5%">
                            <center>
                                <a href="{% url 'album' album.pk %}" class="btn btn-primary">Виж снимки</a>
                                {% if user.is_superuser %}
                                <p class="card-text">{{ album.public}} </p>
                                <a href="{% url 'edit_album' album.pk %}" class="btn btn-secondary">Редактирай</a>
                                <a href="{% url 'delete_album' album.pk %}" class="btn btn-danger">Изтрий</a>
                                {% endif %}
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}