{% if user.is_authenticated %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

    <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добави коментар</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Начало</a>
    </form>
        </div>
    <div class="col-lg-4"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <br>
        <span>Трябва да сте вписани в профила си, за да коментирате. <a href="{% url 'login' %}?next={{request.path}}" style="color:blue">Вход.</a></span>
        <br>
        <span>Нямате профил? <a href="{% url 'signup' %}?next={{request.path}}" style="color:orange">Регистрирай се.</a></span>

        </div>
    <div class="col-lg-4"></div>
</div>
{% endif %}