<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Детайли</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1>{{post.title}}</h1>
                <h2>{{post.content}}</h2>
                <h4>{{post.pub_date}}</h4>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</body>

</html>