<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Начало</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="margin-top: 2%">



        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-danger" style="margin-bottom: 2%">Отпиши се</a>
                {% if user.is_superuser %}
                <a href="/admin/" class="btn btn-warning" style="margin-bottom: 2%">Админ панел</a>
                {% endif %}
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-success" style="margin-bottom: 2%" >Впиши се</a>
                <a href="{% url 'signup' %}" class="btn btn-primary" style="margin-bottom: 2%">Регистрирай се</a>
                {% endif %}
            </div>
            <div class="col-lg-3"></div>
            {% for post in posts %}
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="container" style="margin-bottom: 5%">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body" style="border: 5%">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.short_content}}</p>
                            <p class="card-text">{{post.comments}}</p>
                            <a href="{% url 'details' post.id %}" class="btn btn-primary">Прочети повече</a>
                            {% if user.is_superuser %}
                            <a class="btn btn-secondary" href="{% url 'edit' post.id%">Редактирай</a>
                            <a href="{% url 'delete' post.id %}" class="btn btn-danger">Изтрий</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4"></div>
            {% endfor %}

            <!--pages-->
            <div class="col-lg-6"></div>
                        {% if is_paginated %}
                          <ul class="pagination">
                            {% if page_obj.has_previous %}
                              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                              {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                        {% endif %}
            <div class="col-lg-6"></div>

        </div>
    </div>
</body>

</html>