<title>Детайли</title>
{% extends 'index.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container" style="margin-bottom: 5%">
                    <div class="card" style="width: 40rem;">
                        <div class="card-body" style="border: 5%">
                            <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content}}</p>
                                <p class="card-text"><i>Публикувано на {{post.pub_date}}</i></p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}
