<title>Начало</title>
{% extends 'index.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8">

            {% for post in posts %}
                <div class="container" style="margin-bottom: 5%">
                    <div class="card" style="width: 40rem;">
                        <div class="card-body" style="border: 5%">
                            <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.short_content}}</p>
                                <a href="{% url 'details' post.id %}" class="btn btn-primary">Прочети още</a>

                                {% if user.is_superuser %}
                                <a href="{% url 'edit' post.id %}" class="btn btn-secondary">Редактирай</a>
                                <a href="{% url 'delete' post.id %}" class="btn btn-danger">Изтрий</a>
                                {% endif %}
                        </div>
                    </div>
                </div>

        {% endfor %}
                </div>
        <div class="col-lg-2"></div>
{% include 'pages.html' %}
    </div>

{% endblock %}