<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Animal</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <h1>Are you sure you want to delete {{post.title}}</h1>
        <div class="row">

                <input type="submit" class="btn btn-danger" value="Confirm">
                <a class="btn btn-primary" href="{% url 'index' %}">Начало</a>
        </div>
</div>
    </form>
</body>
</html>